.top-nav {
	display: flex;
	width: 100%;
	align-items: center;
}

.navbar a:not(.logo) {
	color: #222222;
	padding: 0px 16px;
	text-decoration: none;	
	cursor: pointer;
}

.top-nav-left {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.top-nav-middle {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.top-nav-middle .logo-link {
	text-decoration: none;
	color: black;
}

.top-nav-middle .logo-image {
	height: 75px;
	width: auto;
}

.top-nav-right {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.bottom-nav {
	border-top: 1px solid #222222;
	border-bottom: 1px solid #222222;
	padding: 0px;
}

.categories-container {
	margin: 0px;
	padding: 10px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
} 

.category {
	padding: 0px 16px;
}